@import "./_root.less";

.pets-table-container {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;

    .pets-table {
        width: 100%;
        height: 100%;
        display: table;
        font-size: 12px;
        position: relative;
        border-collapse: collapse;

        thead,
        tbody,
        tfoot,
        tr {
            width: 100%;
        }

        tfoot td,
        thead td {
            --arrow-size: 5px;
            --arrow-offset: 5px;
            top: 0;
            position: sticky;
            font-weight: bold;
            color: var(--ecru);
            background: var(--dark-teal);

            &[is_sorted="true"] {
                padding-right: calc((var(--arrow-size) * 2) + var(--arrow-offset) * 2);

                &::after {
                    display: block;
                }

                &[sort_direction="desc"]::after {
                    transform: translateY(-50%) rotate(-45deg);
                }
            }

            &::after {
                top: 50%;
                width: 0;
                height: 0;
                content: "";
                display: none;
                position: absolute;
                right: var(--arrow-offset);
                transform: translateY(-50%) rotate(135deg);
                border-top: var(--arrow-size) solid transparent;
                border-left: var(--arrow-size) solid var(--ecru);
                border-right: var(--arrow-size) solid transparent;
                border-bottom: var(--arrow-size) solid var(--ecru);
            }
        }
        
        tr {
            border-top: 1px solid var(--mid-grey);
        }

        tbody {
            tr {
                &:hover td {
                    background: var(--mid-grey);
                }
                &:nth-of-type(odd) {
                    background-color: var(--light-grey-1);
                }
                &:nth-of-type(even) {
                    background-color: var(--light-grey-2);
                }
            }
        }

        tfoot {
            left: 0;
            right: 0;
            bottom: 0;
            position: sticky;
            color: var(--ecru);
            text-align: center;
            background: var(--dark-teal);
            border-top: 1px solid var(--dark-teal);

            &.static {
                position: static;
            }
        }

        td {
            padding: .5em;
            font-size: 1em;
            border-spacing: 0;
            word-wrap: break-word;
            vertical-align: middle;

            &:not(:last-child) {
                border-right: 1px solid var(--mid-grey);
            }

            &[metric="true"] {
                text-align: center;
            }
        }
    }
}